<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	   <pre><h1 class="text-dark font-weight-bold">		
		 DATABASE ENTRIES</h1></pre>
	   <a href="/add" class="btn btn-sm btn-success">Add User</a><br/><br/>
	   <table class="table table table-striped table-hover rounded">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Username</th>
				<th>Email</th>
				<th>Password</th>
				<th>Contact Number</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<% registers.forEach(function(registers){ %>
				<tr>
					<td><%= registers.f_name %></td>
					<td><%= registers.l_name %></td>
					<td><%= registers.u_name %></td>
					<td><%= registers.email %></td>
					<td><%= registers.pass %></td>
					<td><%= registers.numb %></td>
					<td>
						<a href="edit/<%= registers.id %>" class="btn btn btn-sm btn-success">Edit</a>
						<a href="delete/<%= registers.id %>" class="btn btn-sm btn-danger">Delete</a>
					</td>
				</tr>
			<% }); %>	
		</tbody>
		</table>
	</div>	
</body>
</html> 